.dontBelongTo::before,
.dontBelongTo::after {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  background-color: #000000;
}

.arbalest {
  background-position: -1px -1px;
}

.archer {
  background-position: -67px -1px;
}

.archery-range {
  background-position: -133px -1px;
}

.architecture {
  background-position: -199px -1px;
}

.arrowslits {
  background-position: -265px -1px;
}

.arson {
  background-position: -331px -1px;
}

.atonement {
  background-position: -397px -1px;
}

.ballistics {
  background-position: -463px -1px;
}

.banking {
  background-position: -529px -1px;
}

.barracks {
  background-position: -595px -1px;
}

.battering-ram {
  background-position: -661px -1px;
}

.battle-elephant {
  background-position: -727px -1px;
}

.blacksmith {
  background-position: -1px -67px;
}

.blast-furnace {
  background-position: -67px -67px;
}

.block-printing {
  background-position: -133px -67px;
}

.bloodlines {
  background-position: -199px -67px;
}

.bodkin-arrow {
  background-position: -265px -67px;
}

.bombard-cannon {
  background-position: -331px -67px;
}

.bombard-tower {
  background-position: -397px -67px;
}

.bombard-tower-building {
  background-position: -463px -67px;
}

.bow-saw {
  background-position: -529px -67px;
}

.bracer {
  background-position: -595px -67px;
}

.camel {
  background-position: -661px -67px;
}

.cannon-galleon {
  background-position: -727px -67px;
}

.capped-ram {
  background-position: -1px -133px;
}

.caravan {
  background-position: -67px -133px;
}

.careening {
  background-position: -133px -133px;
}

.cartography {
  background-position: -199px -133px;
}

.castle {
  background-position: -265px -133px;
}

.castle-age {
  background-position: -331px -133px;
}

.cavalier {
  background-position: -397px -133px;
}

.cavalry-archer {
  background-position: -463px -133px;
}

.chain-barding-armor {
  background-position: -529px -133px;
}

.chain-mail-armor {
  background-position: -595px -133px;
}

.champion {
  background-position: -661px -133px;
}

.chemistry {
  background-position: -727px -133px;
}

.coinage {
  background-position: -1px -199px;
}

.condottiero {
  background-position: -67px -199px;
}

.conscription {
  background-position: -133px -199px;
}

.crop-rotation {
  background-position: -199px -199px;
}

.crossbowman {
  background-position: -265px -199px;
}

.demolition-raft {
  background-position: -331px -199px;
}

.demolition-ship {
  background-position: -397px -199px;
}

.dock {
  background-position: -463px -199px;
}

.double-bit-axe {
  background-position: -529px -199px;
}

.dry-dock {
  background-position: -595px -199px;
}

.eagle-scout {
  background-position: -661px -199px;
}

.eagle-warrior {
  background-position: -727px -199px;
}

.elite-battle-elephant {
  background-position: -1px -265px;
}

.elite-cannon-galleon {
  background-position: -67px -265px;
}

.elite-eagle-warrior {
  background-position: -133px -265px;
}

.elite-genitour {
  background-position: -199px -265px;
}

.elite-skirmisher {
  background-position: -265px -265px;
}

.faith {
  background-position: -331px -265px;
}

.farm {
  background-position: -397px -265px;
}

.fast-fire-ship {
  background-position: -463px -265px;
}

.fervor {
  background-position: -529px -265px;
}

.feudal-age {
  background-position: -595px -265px;
}

.fire-galley {
  background-position: -661px -265px;
}

.fire-ship {
  background-position: -727px -265px;
}

.fish-trap {
  background-position: -1px -331px;
}

.fishing-ship {
  background-position: -67px -331px;
}

.fletching {
  background-position: -133px -331px;
}

.forging {
  background-position: -199px -331px;
}

.fortified-wall {
  background-position: -265px -331px;
}

.fortified-wall-building {
  background-position: -331px -331px;
}

.galleon {
  background-position: -397px -331px;
}

.galley {
  background-position: -463px -331px;
}

.gate {
  background-position: -529px -331px;
}

.genitour {
  background-position: -595px -331px;
}

.gillnets {
  background-position: -661px -331px;
}

.gold-mining {
  background-position: -727px -331px;
}

.gold-shaft-mining {
  background-position: -1px -397px;
}

.guard-tower {
  background-position: -67px -397px;
}

.guard-tower-building {
  background-position: -133px -397px;
}

.guilds {
  background-position: -199px -397px;
}

.halberdier {
  background-position: -265px -397px;
}

.hand-cannoneer {
  background-position: -331px -397px;
}

.hand-cart {
  background-position: -397px -397px;
}

.heated-shot {
  background-position: -463px -397px;
}

.heavy-camel {
  background-position: -529px -397px;
}

.heavy-cavalry-archer {
  background-position: -595px -397px;
}

.heavy-demo-ship {
  background-position: -661px -397px;
}

.heavy-plow {
  background-position: -727px -397px;
}

.heavy-scorpion {
  background-position: -1px -463px;
}

.herbal-medicine {
  background-position: -67px -463px;
}

.heresy {
  background-position: -133px -463px;
}

.hoardings {
  background-position: -199px -463px;
}

.horse-collar {
  background-position: -265px -463px;
}

.house {
  background-position: -331px -463px;
}

.husbandry {
  background-position: -397px -463px;
}

.hussar {
  background-position: -463px -463px;
}

.illumination {
  background-position: -529px -463px;
}

.imperial-age {
  background-position: -595px -463px;
}

.imperial-camel {
  background-position: -661px -463px;
}

.iron-casting {
  background-position: -727px -463px;
}

.keep {
  background-position: -1px -529px;
}

.keep-building {
  background-position: -67px -529px;
}

.knight {
  background-position: -133px -529px;
}

.leather-archer-armor {
  background-position: -199px -529px;
}

.light-cavalry {
  background-position: -265px -529px;
}

.long-swordsman {
  background-position: -331px -529px;
}

.loom {
  background-position: -397px -529px;
}

.lumber-camp {
  background-position: -463px -529px;
}

.man-at-arms {
  background-position: -529px -529px;
}

.mangonel {
  background-position: -595px -529px;
}

.market {
  background-position: -661px -529px;
}

.masonry {
  background-position: -727px -529px;
}

.militia {
  background-position: -1px -595px;
}

.mill {
  background-position: -67px -595px;
}

.mining-camp {
  background-position: -133px -595px;
}

.monastery {
  background-position: -199px -595px;
}

.monk {
  background-position: -265px -595px;
}

.murder-holes {
  background-position: -331px -595px;
}

.onager {
  background-position: -397px -595px;
}

.outpost {
  background-position: -463px -595px;
}

.padded-archer-armor {
  background-position: -529px -595px;
}

.paladin {
  background-position: -595px -595px;
}

.palisade-gate {
  background-position: -661px -595px;
}

.palisade-wall {
  background-position: -727px -595px;
}

.parthian-tactics {
  background-position: -1px -661px;
}

.petard {
  background-position: -67px -661px;
}

.pikeman {
  background-position: -133px -661px;
}

.plate-barding-armor {
  background-position: -199px -661px;
}

.plate-mail-armor {
  background-position: -265px -661px;
}

.redemption {
  background-position: -331px -661px;
}

.ring-archer-armor {
  background-position: -397px -661px;
}

.sancitity {
  background-position: -463px -661px;
}

.sappers {
  background-position: -529px -661px;
}

.scale-barding-armor {
  background-position: -595px -661px;
}

.scale-mail-armor {
  background-position: -661px -661px;
}

.scorpion {
  background-position: -727px -661px;
}

.scout-cavalry {
  background-position: -1px -727px;
}

.shipwright {
  background-position: -67px -727px;
}

.siege-enginners {
  background-position: -133px -727px;
}

.siege-onager {
  background-position: -199px -727px;
}

.siege-ram {
  background-position: -265px -727px;
}

.siege-tower {
  background-position: -331px -727px;
}

.siege-workshop {
  background-position: -397px -727px;
}

.skirmisher {
  background-position: -463px -727px;
}

.slinger {
  background-position: -529px -727px;
}

.spearman {
  background-position: -595px -727px;
}

.spies-treason {
  background-position: -661px -727px;
}

.squires {
  background-position: -727px -727px;
}

.stable {
  background-position: -793px -1px;
}

.stone-mining {
  background-position: -793px -67px;
}

.stone-shaft-mining {
  background-position: -793px -133px;
}

.stone-wall {
  background-position: -793px -199px;
}

.theocracy {
  background-position: -793px -265px;
}

.thumb-ring {
  background-position: -793px -331px;
}

.town-center {
  background-position: -793px -397px;
}

.town-patrol {
  background-position: -793px -463px;
}

.town-watch {
  background-position: -793px -529px;
}

.tracking {
  background-position: -793px -595px;
}

.trade-cart {
  background-position: -793px -661px;
}

.trade-cog {
  background-position: -793px -727px;
}

.transport-ship {
  background-position: -1px -793px;
}

.treadmill-crane {
  background-position: -67px -793px;
}

.trebuchet {
  background-position: -133px -793px;
}

.two-handed-swordsman {
  background-position: -199px -793px;
}

.two-man-saw {
  background-position: -265px -793px;
}

.university {
  background-position: -331px -793px;
}

.villager {
  background-position: -397px -793px;
}

.war-galley {
  background-position: -463px -793px;
}

.watch-tower {
  background-position: -529px -793px;
}

.wheelbarrow {
  background-position: -595px -793px;
}

.wonder {
  background-position: -661px -793px;
}
